<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isoCode</key>
		<string>AF</string>
		<key>name</key>
		<string>Afghanistan</string>
		<key>threeLetterISO</key>
		<string>AFG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AX</string>
		<key>name</key>
		<string>Åland Islands</string>
		<key>threeLetterISO</key>
		<string>ALA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AL</string>
		<key>name</key>
		<string>Albania</string>
		<key>threeLetterISO</key>
		<string>ALB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DZ</string>
		<key>name</key>
		<string>Algeria</string>
		<key>threeLetterISO</key>
		<string>DZA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AS</string>
		<key>name</key>
		<string>American Samoa</string>
		<key>threeLetterISO</key>
		<string>ASM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AD</string>
		<key>name</key>
		<string>Andorra</string>
		<key>threeLetterISO</key>
		<string>AND</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AO</string>
		<key>name</key>
		<string>Angola</string>
		<key>threeLetterISO</key>
		<string>AGO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AI</string>
		<key>name</key>
		<string>Anguilla</string>
		<key>threeLetterISO</key>
		<string>AIA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AQ</string>
		<key>name</key>
		<string>Antarctica</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AG</string>
		<key>name</key>
		<string>Antigua and Barbuda</string>
		<key>threeLetterISO</key>
		<string>ATG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AR</string>
		<key>name</key>
		<string>Argentina</string>
		<key>threeLetterISO</key>
		<string>ARG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AM</string>
		<key>name</key>
		<string>Armenia</string>
		<key>threeLetterISO</key>
		<string>ARM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AW</string>
		<key>name</key>
		<string>Aruba</string>
		<key>threeLetterISO</key>
		<string>ABW</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AU</string>
		<key>name</key>
		<string>Australia</string>
		<key>threeLetterISO</key>
		<string>AUS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AT</string>
		<key>name</key>
		<string>Austria</string>
		<key>threeLetterISO</key>
		<string>AUT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AZ</string>
		<key>name</key>
		<string>Azerbaijan</string>
		<key>threeLetterISO</key>
		<string>AZE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BS</string>
		<key>name</key>
		<string>Bahamas</string>
		<key>threeLetterISO</key>
		<string>BHS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BH</string>
		<key>name</key>
		<string>Bahrain</string>
		<key>threeLetterISO</key>
		<string>BHR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BD</string>
		<key>name</key>
		<string>Bangladesh</string>
		<key>threeLetterISO</key>
		<string>BGD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BB</string>
		<key>name</key>
		<string>Barbados</string>
		<key>threeLetterISO</key>
		<string>BRB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BY</string>
		<key>name</key>
		<string>Belarus</string>
		<key>threeLetterISO</key>
		<string>BLR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BE</string>
		<key>name</key>
		<string>Belgium</string>
		<key>threeLetterISO</key>
		<string>BEL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BZ</string>
		<key>name</key>
		<string>Belize</string>
		<key>threeLetterISO</key>
		<string>BLZ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BJ</string>
		<key>name</key>
		<string>Benin</string>
		<key>threeLetterISO</key>
		<string>BEN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BM</string>
		<key>name</key>
		<string>Bermuda</string>
		<key>threeLetterISO</key>
		<string>BMU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BT</string>
		<key>name</key>
		<string>Bhutan</string>
		<key>threeLetterISO</key>
		<string>BTN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BO</string>
		<key>name</key>
		<string>Bolivia</string>
		<key>threeLetterISO</key>
		<string>BOL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BQ</string>
		<key>name</key>
		<string>Bonaire</string>
		<key>threeLetterISO</key>
		<string>BES</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BA</string>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
		<key>threeLetterISO</key>
		<string>BIH</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BW</string>
		<key>name</key>
		<string>Botswana</string>
		<key>threeLetterISO</key>
		<string>BWA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BV</string>
		<key>name</key>
		<string>Bouvet Island</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BR</string>
		<key>name</key>
		<string>Brazil</string>
		<key>threeLetterISO</key>
		<string>BRA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IO</string>
		<key>name</key>
		<string>British Indian Ocean Territory</string>
		<key>threeLetterISO</key>
		<string>IOT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VG</string>
		<key>name</key>
		<string>British Virgin Islands</string>
		<key>threeLetterISO</key>
		<string>VGB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BN</string>
		<key>name</key>
		<string>Brunei</string>
		<key>threeLetterISO</key>
		<string>BRN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BG</string>
		<key>name</key>
		<string>Bulgaria</string>
		<key>threeLetterISO</key>
		<string>BGR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BF</string>
		<key>name</key>
		<string>Burkina Faso</string>
		<key>threeLetterISO</key>
		<string>BFA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BI</string>
		<key>name</key>
		<string>Burundi</string>
		<key>threeLetterISO</key>
		<string>BDI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CV</string>
		<key>name</key>
		<string>Cabo Verde</string>
		<key>threeLetterISO</key>
		<string>CPV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KH</string>
		<key>name</key>
		<string>Cambodia</string>
		<key>threeLetterISO</key>
		<string>KHM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CM</string>
		<key>name</key>
		<string>Cameroon</string>
		<key>threeLetterISO</key>
		<string>CMR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CA</string>
		<key>name</key>
		<string>Canada</string>
		<key>threeLetterISO</key>
		<string>CAN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KY</string>
		<key>name</key>
		<string>Cayman Islands</string>
		<key>threeLetterISO</key>
		<string>CYM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CF</string>
		<key>name</key>
		<string>Central African Republic</string>
		<key>threeLetterISO</key>
		<string>CAF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TD</string>
		<key>name</key>
		<string>Chad</string>
		<key>threeLetterISO</key>
		<string>TCD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CL</string>
		<key>name</key>
		<string>Chile</string>
		<key>threeLetterISO</key>
		<string>CHL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CN</string>
		<key>name</key>
		<string>China</string>
		<key>threeLetterISO</key>
		<string>CHN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CX</string>
		<key>name</key>
		<string>Christmas Island</string>
		<key>threeLetterISO</key>
		<string>CXR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CC</string>
		<key>name</key>
		<string>Cocos (Keeling) Islands</string>
		<key>threeLetterISO</key>
		<string>CCK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CO</string>
		<key>name</key>
		<string>Colombia</string>
		<key>threeLetterISO</key>
		<string>COL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KM</string>
		<key>name</key>
		<string>Comoros</string>
		<key>threeLetterISO</key>
		<string>COM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CG</string>
		<key>name</key>
		<string>Congo</string>
		<key>threeLetterISO</key>
		<string>COG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CD</string>
		<key>name</key>
		<string>Congo (DRC)</string>
		<key>threeLetterISO</key>
		<string>COD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CK</string>
		<key>name</key>
		<string>Cook Islands</string>
		<key>threeLetterISO</key>
		<string>COK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CR</string>
		<key>name</key>
		<string>Costa Rica</string>
		<key>threeLetterISO</key>
		<string>CRI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CI</string>
		<key>name</key>
		<string>Côte d’Ivoire</string>
		<key>threeLetterISO</key>
		<string>CIV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HR</string>
		<key>name</key>
		<string>Croatia</string>
		<key>threeLetterISO</key>
		<string>HRV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CU</string>
		<key>name</key>
		<string>Cuba</string>
		<key>threeLetterISO</key>
		<string>CUB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CW</string>
		<key>name</key>
		<string>Curaçao</string>
		<key>threeLetterISO</key>
		<string>CUW</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CY</string>
		<key>name</key>
		<string>Cyprus</string>
		<key>threeLetterISO</key>
		<string>CYP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CZ</string>
		<key>name</key>
		<string>Czechia</string>
		<key>threeLetterISO</key>
		<string>CZE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DK</string>
		<key>name</key>
		<string>Denmark</string>
		<key>threeLetterISO</key>
		<string>DNK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DJ</string>
		<key>name</key>
		<string>Djibouti</string>
		<key>threeLetterISO</key>
		<string>DJI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DM</string>
		<key>name</key>
		<string>Dominica</string>
		<key>threeLetterISO</key>
		<string>DMA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DO</string>
		<key>name</key>
		<string>Dominican Republic</string>
		<key>threeLetterISO</key>
		<string>DOM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EC</string>
		<key>name</key>
		<string>Ecuador</string>
		<key>threeLetterISO</key>
		<string>ECU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EG</string>
		<key>name</key>
		<string>Egypt</string>
		<key>threeLetterISO</key>
		<string>EGY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SV</string>
		<key>name</key>
		<string>El Salvador</string>
		<key>threeLetterISO</key>
		<string>SLV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GQ</string>
		<key>name</key>
		<string>Equatorial Guinea</string>
		<key>threeLetterISO</key>
		<string>GNQ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ER</string>
		<key>name</key>
		<string>Eritrea</string>
		<key>threeLetterISO</key>
		<string>ERI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EE</string>
		<key>name</key>
		<string>Estonia</string>
		<key>threeLetterISO</key>
		<string>EST</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SZ</string>
		<key>name</key>
		<string>Eswatini</string>
		<key>threeLetterISO</key>
		<string>SWZ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ET</string>
		<key>name</key>
		<string>Ethiopia</string>
		<key>threeLetterISO</key>
		<string>ETH</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FK</string>
		<key>name</key>
		<string>Falkland Islands</string>
		<key>threeLetterISO</key>
		<string>FLK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FO</string>
		<key>name</key>
		<string>Faroe Islands</string>
		<key>threeLetterISO</key>
		<string>FRO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FJ</string>
		<key>name</key>
		<string>Fiji</string>
		<key>threeLetterISO</key>
		<string>FJI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FI</string>
		<key>name</key>
		<string>Finland</string>
		<key>threeLetterISO</key>
		<string>FIN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FR</string>
		<key>name</key>
		<string>France</string>
		<key>threeLetterISO</key>
		<string>FRA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GF</string>
		<key>name</key>
		<string>French Guiana</string>
		<key>threeLetterISO</key>
		<string>GUF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PF</string>
		<key>name</key>
		<string>French Polynesia</string>
		<key>threeLetterISO</key>
		<string>PYF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TF</string>
		<key>name</key>
		<string>French Southern Territories</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GA</string>
		<key>name</key>
		<string>Gabon</string>
		<key>threeLetterISO</key>
		<string>GAB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GM</string>
		<key>name</key>
		<string>Gambia</string>
		<key>threeLetterISO</key>
		<string>GMB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GE</string>
		<key>name</key>
		<string>Georgia</string>
		<key>threeLetterISO</key>
		<string>GEO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DE</string>
		<key>name</key>
		<string>Germany</string>
		<key>threeLetterISO</key>
		<string>DEU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GH</string>
		<key>name</key>
		<string>Ghana</string>
		<key>threeLetterISO</key>
		<string>GHA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GI</string>
		<key>name</key>
		<string>Gibraltar</string>
		<key>threeLetterISO</key>
		<string>GIB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GR</string>
		<key>name</key>
		<string>Greece</string>
		<key>threeLetterISO</key>
		<string>GRC</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GL</string>
		<key>name</key>
		<string>Greenland</string>
		<key>threeLetterISO</key>
		<string>GRL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GD</string>
		<key>name</key>
		<string>Grenada</string>
		<key>threeLetterISO</key>
		<string>GRD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GP</string>
		<key>name</key>
		<string>Guadeloupe</string>
		<key>threeLetterISO</key>
		<string>GLP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GU</string>
		<key>name</key>
		<string>Guam</string>
		<key>threeLetterISO</key>
		<string>GUM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GT</string>
		<key>name</key>
		<string>Guatemala</string>
		<key>threeLetterISO</key>
		<string>GTM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GG</string>
		<key>name</key>
		<string>Guernsey</string>
		<key>threeLetterISO</key>
		<string>GGY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GN</string>
		<key>name</key>
		<string>Guinea</string>
		<key>threeLetterISO</key>
		<string>GIN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GW</string>
		<key>name</key>
		<string>Guinea-Bissau</string>
		<key>threeLetterISO</key>
		<string>GNB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GY</string>
		<key>name</key>
		<string>Guyana</string>
		<key>threeLetterISO</key>
		<string>GUY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HT</string>
		<key>name</key>
		<string>Haiti</string>
		<key>threeLetterISO</key>
		<string>HTI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HM</string>
		<key>name</key>
		<string>Heard Island and McDonald Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HN</string>
		<key>name</key>
		<string>Honduras</string>
		<key>threeLetterISO</key>
		<string>HND</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HK</string>
		<key>name</key>
		<string>Hong Kong SAR</string>
		<key>threeLetterISO</key>
		<string>HKG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HU</string>
		<key>name</key>
		<string>Hungary</string>
		<key>threeLetterISO</key>
		<string>HUN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IS</string>
		<key>name</key>
		<string>Iceland</string>
		<key>threeLetterISO</key>
		<string>ISL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IN</string>
		<key>name</key>
		<string>India</string>
		<key>threeLetterISO</key>
		<string>IND</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ID</string>
		<key>name</key>
		<string>Indonesia</string>
		<key>threeLetterISO</key>
		<string>IDN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IR</string>
		<key>name</key>
		<string>Iran</string>
		<key>threeLetterISO</key>
		<string>IRN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IQ</string>
		<key>name</key>
		<string>Iraq</string>
		<key>threeLetterISO</key>
		<string>IRQ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IE</string>
		<key>name</key>
		<string>Ireland</string>
		<key>threeLetterISO</key>
		<string>IRL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IM</string>
		<key>name</key>
		<string>Isle of Man</string>
		<key>threeLetterISO</key>
		<string>IMN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IL</string>
		<key>name</key>
		<string>Israel</string>
		<key>threeLetterISO</key>
		<string>ISR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IT</string>
		<key>name</key>
		<string>Italy</string>
		<key>threeLetterISO</key>
		<string>ITA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JM</string>
		<key>name</key>
		<string>Jamaica</string>
		<key>threeLetterISO</key>
		<string>JAM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>XJ</string>
		<key>name</key>
		<string>Jan Mayen</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JP</string>
		<key>name</key>
		<string>Japan</string>
		<key>threeLetterISO</key>
		<string>JPN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JE</string>
		<key>name</key>
		<string>Jersey</string>
		<key>threeLetterISO</key>
		<string>JEY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JO</string>
		<key>name</key>
		<string>Jordan</string>
		<key>threeLetterISO</key>
		<string>JOR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KZ</string>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>threeLetterISO</key>
		<string>KAZ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KE</string>
		<key>name</key>
		<string>Kenya</string>
		<key>threeLetterISO</key>
		<string>KEN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KI</string>
		<key>name</key>
		<string>Kiribati</string>
		<key>threeLetterISO</key>
		<string>KIR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KR</string>
		<key>name</key>
		<string>Korea</string>
		<key>threeLetterISO</key>
		<string>KOR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>XK</string>
		<key>name</key>
		<string>Kosovo</string>
		<key>threeLetterISO</key>
		<string>XKS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KW</string>
		<key>name</key>
		<string>Kuwait</string>
		<key>threeLetterISO</key>
		<string>KWT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KG</string>
		<key>name</key>
		<string>Kyrgyzstan</string>
		<key>threeLetterISO</key>
		<string>KGZ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LA</string>
		<key>name</key>
		<string>Laos</string>
		<key>threeLetterISO</key>
		<string>LAO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LV</string>
		<key>name</key>
		<string>Latvia</string>
		<key>threeLetterISO</key>
		<string>LVA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LB</string>
		<key>name</key>
		<string>Lebanon</string>
		<key>threeLetterISO</key>
		<string>LBN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LS</string>
		<key>name</key>
		<string>Lesotho</string>
		<key>threeLetterISO</key>
		<string>LSO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LR</string>
		<key>name</key>
		<string>Liberia</string>
		<key>threeLetterISO</key>
		<string>LBR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LY</string>
		<key>name</key>
		<string>Libya</string>
		<key>threeLetterISO</key>
		<string>LBY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LI</string>
		<key>name</key>
		<string>Liechtenstein</string>
		<key>threeLetterISO</key>
		<string>LIE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LT</string>
		<key>name</key>
		<string>Lithuania</string>
		<key>threeLetterISO</key>
		<string>LTU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LU</string>
		<key>name</key>
		<string>Luxembourg</string>
		<key>threeLetterISO</key>
		<string>LUX</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MO</string>
		<key>name</key>
		<string>Macao SAR</string>
		<key>threeLetterISO</key>
		<string>MAC</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MG</string>
		<key>name</key>
		<string>Madagascar</string>
		<key>threeLetterISO</key>
		<string>MDG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MW</string>
		<key>name</key>
		<string>Malawi</string>
		<key>threeLetterISO</key>
		<string>MWI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MY</string>
		<key>name</key>
		<string>Malaysia</string>
		<key>threeLetterISO</key>
		<string>MYS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MV</string>
		<key>name</key>
		<string>Maldives</string>
		<key>threeLetterISO</key>
		<string>MDV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ML</string>
		<key>name</key>
		<string>Mali</string>
		<key>threeLetterISO</key>
		<string>MLI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MT</string>
		<key>name</key>
		<string>Malta</string>
		<key>threeLetterISO</key>
		<string>MLT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MH</string>
		<key>name</key>
		<string>Marshall Islands</string>
		<key>threeLetterISO</key>
		<string>MHL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MQ</string>
		<key>name</key>
		<string>Martinique</string>
		<key>threeLetterISO</key>
		<string>MTQ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MR</string>
		<key>name</key>
		<string>Mauritania</string>
		<key>threeLetterISO</key>
		<string>MRT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MU</string>
		<key>name</key>
		<string>Mauritius</string>
		<key>threeLetterISO</key>
		<string>MUS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>YT</string>
		<key>name</key>
		<string>Mayotte</string>
		<key>threeLetterISO</key>
		<string>MYT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MX</string>
		<key>name</key>
		<string>Mexico</string>
		<key>threeLetterISO</key>
		<string>MEX</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FM</string>
		<key>name</key>
		<string>Micronesia</string>
		<key>threeLetterISO</key>
		<string>FSM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MD</string>
		<key>name</key>
		<string>Moldova</string>
		<key>threeLetterISO</key>
		<string>MDA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MC</string>
		<key>name</key>
		<string>Monaco</string>
		<key>threeLetterISO</key>
		<string>MCO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MN</string>
		<key>name</key>
		<string>Mongolia</string>
		<key>threeLetterISO</key>
		<string>MNG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ME</string>
		<key>name</key>
		<string>Montenegro</string>
		<key>threeLetterISO</key>
		<string>MNE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MS</string>
		<key>name</key>
		<string>Montserrat</string>
		<key>threeLetterISO</key>
		<string>MSR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MA</string>
		<key>name</key>
		<string>Morocco</string>
		<key>threeLetterISO</key>
		<string>MAR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MZ</string>
		<key>name</key>
		<string>Mozambique</string>
		<key>threeLetterISO</key>
		<string>MOZ</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MM</string>
		<key>name</key>
		<string>Myanmar</string>
		<key>threeLetterISO</key>
		<string>MMR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NA</string>
		<key>name</key>
		<string>Namibia</string>
		<key>threeLetterISO</key>
		<string>NAM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NR</string>
		<key>name</key>
		<string>Nauru</string>
		<key>threeLetterISO</key>
		<string>NRU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NP</string>
		<key>name</key>
		<string>Nepal</string>
		<key>threeLetterISO</key>
		<string>NPL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NL</string>
		<key>name</key>
		<string>Netherlands</string>
		<key>threeLetterISO</key>
		<string>NLD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NC</string>
		<key>name</key>
		<string>New Caledonia</string>
		<key>threeLetterISO</key>
		<string>NCL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NZ</string>
		<key>name</key>
		<string>New Zealand</string>
		<key>threeLetterISO</key>
		<string>NZL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NI</string>
		<key>name</key>
		<string>Nicaragua</string>
		<key>threeLetterISO</key>
		<string>NIC</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NE</string>
		<key>name</key>
		<string>Niger</string>
		<key>threeLetterISO</key>
		<string>NER</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NG</string>
		<key>name</key>
		<string>Nigeria</string>
		<key>threeLetterISO</key>
		<string>NGA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NU</string>
		<key>name</key>
		<string>Niue</string>
		<key>threeLetterISO</key>
		<string>NIU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NF</string>
		<key>name</key>
		<string>Norfolk Island</string>
		<key>threeLetterISO</key>
		<string>NFK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KP</string>
		<key>name</key>
		<string>North Korea</string>
		<key>threeLetterISO</key>
		<string>PRK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MK</string>
		<key>name</key>
		<string>North Macedonia</string>
		<key>threeLetterISO</key>
		<string>MKD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MP</string>
		<key>name</key>
		<string>Northern Mariana Islands</string>
		<key>threeLetterISO</key>
		<string>MNP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NO</string>
		<key>name</key>
		<string>Norway</string>
		<key>threeLetterISO</key>
		<string>NOR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>OM</string>
		<key>name</key>
		<string>Oman</string>
		<key>threeLetterISO</key>
		<string>OMN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PK</string>
		<key>name</key>
		<string>Pakistan</string>
		<key>threeLetterISO</key>
		<string>PAK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PW</string>
		<key>name</key>
		<string>Palau</string>
		<key>threeLetterISO</key>
		<string>PLW</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PS</string>
		<key>name</key>
		<string>Palestinian Authority</string>
		<key>threeLetterISO</key>
		<string>PSE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PA</string>
		<key>name</key>
		<string>Panama</string>
		<key>threeLetterISO</key>
		<string>PAN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PG</string>
		<key>name</key>
		<string>Papua New Guinea</string>
		<key>threeLetterISO</key>
		<string>PNG</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PY</string>
		<key>name</key>
		<string>Paraguay</string>
		<key>threeLetterISO</key>
		<string>PRY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PE</string>
		<key>name</key>
		<string>Peru</string>
		<key>threeLetterISO</key>
		<string>PER</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PH</string>
		<key>name</key>
		<string>Philippines</string>
		<key>threeLetterISO</key>
		<string>PHL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PN</string>
		<key>name</key>
		<string>Pitcairn Islands</string>
		<key>threeLetterISO</key>
		<string>PCN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PL</string>
		<key>name</key>
		<string>Poland</string>
		<key>threeLetterISO</key>
		<string>POL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PT</string>
		<key>name</key>
		<string>Portugal</string>
		<key>threeLetterISO</key>
		<string>PRT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PR</string>
		<key>name</key>
		<string>Puerto Rico</string>
		<key>threeLetterISO</key>
		<string>PRI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>QA</string>
		<key>name</key>
		<string>Qatar</string>
		<key>threeLetterISO</key>
		<string>QAT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RE</string>
		<key>name</key>
		<string>Réunion</string>
		<key>threeLetterISO</key>
		<string>REU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RO</string>
		<key>name</key>
		<string>Romania</string>
		<key>threeLetterISO</key>
		<string>ROU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RU</string>
		<key>name</key>
		<string>Russia</string>
		<key>threeLetterISO</key>
		<string>RUS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RW</string>
		<key>name</key>
		<string>Rwanda</string>
		<key>threeLetterISO</key>
		<string>RWA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>XS</string>
		<key>name</key>
		<string>Saba</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BL</string>
		<key>name</key>
		<string>Saint Barthélemy</string>
		<key>threeLetterISO</key>
		<string>BLM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KN</string>
		<key>name</key>
		<string>Saint Kitts and Nevis</string>
		<key>threeLetterISO</key>
		<string>KNA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LC</string>
		<key>name</key>
		<string>Saint Lucia</string>
		<key>threeLetterISO</key>
		<string>LCA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MF</string>
		<key>name</key>
		<string>Saint Martin</string>
		<key>threeLetterISO</key>
		<string>MAF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PM</string>
		<key>name</key>
		<string>Saint Pierre and Miquelon</string>
		<key>threeLetterISO</key>
		<string>SPM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VC</string>
		<key>name</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>threeLetterISO</key>
		<string>VCT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>WS</string>
		<key>name</key>
		<string>Samoa</string>
		<key>threeLetterISO</key>
		<string>WSM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SM</string>
		<key>name</key>
		<string>San Marino</string>
		<key>threeLetterISO</key>
		<string>SMR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ST</string>
		<key>name</key>
		<string>São Tomé and Príncipe</string>
		<key>threeLetterISO</key>
		<string>STP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SA</string>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>threeLetterISO</key>
		<string>SAU</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SN</string>
		<key>name</key>
		<string>Senegal</string>
		<key>threeLetterISO</key>
		<string>SEN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RS</string>
		<key>name</key>
		<string>Serbia</string>
		<key>threeLetterISO</key>
		<string>SRB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SC</string>
		<key>name</key>
		<string>Seychelles</string>
		<key>threeLetterISO</key>
		<string>SYC</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SL</string>
		<key>name</key>
		<string>Sierra Leone</string>
		<key>threeLetterISO</key>
		<string>SLE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SG</string>
		<key>name</key>
		<string>Singapore</string>
		<key>threeLetterISO</key>
		<string>SGP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>XE</string>
		<key>name</key>
		<string>Sint Eustatius</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SX</string>
		<key>name</key>
		<string>Sint Maarten</string>
		<key>threeLetterISO</key>
		<string>SXM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SK</string>
		<key>name</key>
		<string>Slovakia</string>
		<key>threeLetterISO</key>
		<string>SVK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SI</string>
		<key>name</key>
		<string>Slovenia</string>
		<key>threeLetterISO</key>
		<string>SVN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SB</string>
		<key>name</key>
		<string>Solomon Islands</string>
		<key>threeLetterISO</key>
		<string>SLB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SO</string>
		<key>name</key>
		<string>Somalia</string>
		<key>threeLetterISO</key>
		<string>SOM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZA</string>
		<key>name</key>
		<string>South Africa</string>
		<key>threeLetterISO</key>
		<string>ZAF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GS</string>
		<key>name</key>
		<string>South Georgia and South Sandwich Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SS</string>
		<key>name</key>
		<string>South Sudan</string>
		<key>threeLetterISO</key>
		<string>SSD</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ES</string>
		<key>name</key>
		<string>Spain</string>
		<key>threeLetterISO</key>
		<string>ESP</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LK</string>
		<key>name</key>
		<string>Sri Lanka</string>
		<key>threeLetterISO</key>
		<string>LKA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SH</string>
		<key>name</key>
		<string>St Helena, Ascension, Tristan da Cunha</string>
		<key>threeLetterISO</key>
		<string>SHN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SD</string>
		<key>name</key>
		<string>Sudan</string>
		<key>threeLetterISO</key>
		<string>SDN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SR</string>
		<key>name</key>
		<string>Suriname</string>
		<key>threeLetterISO</key>
		<string>SUR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SJ</string>
		<key>name</key>
		<string>Svalbard</string>
		<key>threeLetterISO</key>
		<string>SJM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SE</string>
		<key>name</key>
		<string>Sweden</string>
		<key>threeLetterISO</key>
		<string>SWE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CH</string>
		<key>name</key>
		<string>Switzerland</string>
		<key>threeLetterISO</key>
		<string>CHE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SY</string>
		<key>name</key>
		<string>Syria</string>
		<key>threeLetterISO</key>
		<string>SYR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TW</string>
		<key>name</key>
		<string>Taiwan</string>
		<key>threeLetterISO</key>
		<string>TWN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TJ</string>
		<key>name</key>
		<string>Tajikistan</string>
		<key>threeLetterISO</key>
		<string>TJK</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TZ</string>
		<key>name</key>
		<string>Tanzania</string>
		<key>threeLetterISO</key>
		<string>TZA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TH</string>
		<key>name</key>
		<string>Thailand</string>
		<key>threeLetterISO</key>
		<string>THA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TL</string>
		<key>name</key>
		<string>Timor-Leste</string>
		<key>threeLetterISO</key>
		<string>TLS</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TG</string>
		<key>name</key>
		<string>Togo</string>
		<key>threeLetterISO</key>
		<string>TGO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TK</string>
		<key>name</key>
		<string>Tokelau</string>
		<key>threeLetterISO</key>
		<string>TKL</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TO</string>
		<key>name</key>
		<string>Tonga</string>
		<key>threeLetterISO</key>
		<string>TON</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TT</string>
		<key>name</key>
		<string>Trinidad and Tobago</string>
		<key>threeLetterISO</key>
		<string>TTO</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TN</string>
		<key>name</key>
		<string>Tunisia</string>
		<key>threeLetterISO</key>
		<string>TUN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TR</string>
		<key>name</key>
		<string>Türkiye</string>
		<key>threeLetterISO</key>
		<string>TUR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TM</string>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>threeLetterISO</key>
		<string>TKM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TC</string>
		<key>name</key>
		<string>Turks and Caicos Islands</string>
		<key>threeLetterISO</key>
		<string>TCA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TV</string>
		<key>name</key>
		<string>Tuvalu</string>
		<key>threeLetterISO</key>
		<string>TUV</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UM</string>
		<key>name</key>
		<string>U.S. Outlying Islands</string>
		<key>threeLetterISO</key>
		<string>UMI</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VI</string>
		<key>name</key>
		<string>U.S. Virgin Islands</string>
		<key>threeLetterISO</key>
		<string>VIR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UG</string>
		<key>name</key>
		<string>Uganda</string>
		<key>threeLetterISO</key>
		<string>UGA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UA</string>
		<key>name</key>
		<string>Ukraine</string>
		<key>threeLetterISO</key>
		<string>UKR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AE</string>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>threeLetterISO</key>
		<string>ARE</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GB</string>
		<key>name</key>
		<string>United Kingdom</string>
		<key>threeLetterISO</key>
		<string>GBR</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>US</string>
		<key>name</key>
		<string>United States</string>
		<key>threeLetterISO</key>
		<string>USA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UY</string>
		<key>name</key>
		<string>Uruguay</string>
		<key>threeLetterISO</key>
		<string>URY</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UZ</string>
		<key>name</key>
		<string>Uzbekistan</string>
		<key>threeLetterISO</key>
		<string>UZB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VU</string>
		<key>name</key>
		<string>Vanuatu</string>
		<key>threeLetterISO</key>
		<string>VUT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VA</string>
		<key>name</key>
		<string>Vatican City</string>
		<key>threeLetterISO</key>
		<string>VAT</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VE</string>
		<key>name</key>
		<string>Venezuela</string>
		<key>threeLetterISO</key>
		<string>VEN</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VN</string>
		<key>name</key>
		<string>Vietnam</string>
		<key>threeLetterISO</key>
		<string>VNM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>WF</string>
		<key>name</key>
		<string>Wallis and Futuna</string>
		<key>threeLetterISO</key>
		<string>WLF</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>YE</string>
		<key>name</key>
		<string>Yemen</string>
		<key>threeLetterISO</key>
		<string>YEM</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZM</string>
		<key>name</key>
		<string>Zambia</string>
		<key>threeLetterISO</key>
		<string>ZMB</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZW</string>
		<key>name</key>
		<string>Zimbabwe</string>
		<key>threeLetterISO</key>
		<string>ZWE</string>
	</dict>
</array>
</plist>
