<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>af-na</string>
	<string>af-za</string>
	<string>am-et</string>
	<string>ar-001</string>
	<string>ar-ae</string>
	<string>ar-bh</string>
	<string>ar-dj</string>
	<string>ar-dz</string>
	<string>ar-eg</string>
	<string>ar-er</string>
	<string>ar-il</string>
	<string>ar-iq</string>
	<string>ar-jo</string>
	<string>ar-km</string>
	<string>ar-kw</string>
	<string>ar-lb</string>
	<string>ar-ly</string>
	<string>ar-ma</string>
	<string>ar-mr</string>
	<string>ar-om</string>
	<string>ar-ps</string>
	<string>ar-qa</string>
	<string>ar-sa</string>
	<string>ar-sd</string>
	<string>ar-so</string>
	<string>ar-ss</string>
	<string>ar-sy</string>
	<string>ar-td</string>
	<string>ar-tn</string>
	<string>ar-ye</string>
	<string>as-in</string>
	<string>az-latn-az</string>
	<string>be-by</string>
	<string>bg-bg</string>
	<string>bn-bd</string>
	<string>bn-in</string>
	<string>bs-latn-ba</string>
	<string>ca-ad</string>
	<string>ca-es</string>
	<string>ca-es-valencia</string>
	<string>ca-fr</string>
	<string>ca-it</string>
	<string>cs-cz</string>
	<string>cy-gb</string>
	<string>da-dk</string>
	<string>da-gl</string>
	<string>de-at</string>
	<string>de-be</string>
	<string>de-ch</string>
	<string>de-de</string>
	<string>de-it</string>
	<string>de-li</string>
	<string>de-lu</string>
	<string>el-cy</string>
	<string>el-gr</string>
	<string>en-001</string>
	<string>en-029</string>
	<string>en-150</string>
	<string>en-ag</string>
	<string>en-ai</string>
	<string>en-as</string>
	<string>en-at</string>
	<string>en-au</string>
	<string>en-bb</string>
	<string>en-be</string>
	<string>en-bi</string>
	<string>en-bm</string>
	<string>en-bs</string>
	<string>en-bw</string>
	<string>en-bz</string>
	<string>en-ca</string>
	<string>en-cc</string>
	<string>en-ch</string>
	<string>en-ck</string>
	<string>en-cm</string>
	<string>en-cx</string>
	<string>en-cy</string>
	<string>en-de</string>
	<string>en-dk</string>
	<string>en-dm</string>
	<string>en-er</string>
	<string>en-fi</string>
	<string>en-fj</string>
	<string>en-fk</string>
	<string>en-fm</string>
	<string>en-gb</string>
	<string>en-gd</string>
	<string>en-gg</string>
	<string>en-gh</string>
	<string>en-gi</string>
	<string>en-gm</string>
	<string>en-gu</string>
	<string>en-gy</string>
	<string>en-id</string>
	<string>en-ie</string>
	<string>en-il</string>
	<string>en-im</string>
	<string>en-in</string>
	<string>en-io</string>
	<string>en-je</string>
	<string>en-jm</string>
	<string>en-ke</string>
	<string>en-ki</string>
	<string>en-kn</string>
	<string>en-ky</string>
	<string>en-lc</string>
	<string>en-lr</string>
	<string>en-ls</string>
	<string>en-mg</string>
	<string>en-mh</string>
	<string>en-mo</string>
	<string>en-mp</string>
	<string>en-ms</string>
	<string>en-mt</string>
	<string>en-mu</string>
	<string>en-mw</string>
	<string>en-my</string>
	<string>en-na</string>
	<string>en-nf</string>
	<string>en-ng</string>
	<string>en-nl</string>
	<string>en-nr</string>
	<string>en-nu</string>
	<string>en-nz</string>
	<string>en-pg</string>
	<string>en-ph</string>
	<string>en-pk</string>
	<string>en-pn</string>
	<string>en-pr</string>
	<string>en-pw</string>
	<string>en-rw</string>
	<string>en-sb</string>
	<string>en-sc</string>
	<string>en-sd</string>
	<string>en-se</string>
	<string>en-sg</string>
	<string>en-sh</string>
	<string>en-si</string>
	<string>en-sl</string>
	<string>en-ss</string>
	<string>en-sx</string>
	<string>en-sz</string>
	<string>en-tc</string>
	<string>en-tk</string>
	<string>en-to</string>
	<string>en-tt</string>
	<string>en-tv</string>
	<string>en-tz</string>
	<string>en-ug</string>
	<string>en-um</string>
	<string>en-us</string>
	<string>en-vc</string>
	<string>en-vg</string>
	<string>en-vi</string>
	<string>en-vu</string>
	<string>en-ws</string>
	<string>en-za</string>
	<string>en-zm</string>
	<string>en-zw</string>
	<string>es-ar</string>
	<string>es-bo</string>
	<string>es-br</string>
	<string>es-bz</string>
	<string>es-cl</string>
	<string>es-co</string>
	<string>es-cr</string>
	<string>es-cu</string>
	<string>es-do</string>
	<string>es-ec</string>
	<string>es-es</string>
	<string>es-gq</string>
	<string>es-gt</string>
	<string>es-hn</string>
	<string>es-mx</string>
	<string>es-ni</string>
	<string>es-pa</string>
	<string>es-pe</string>
	<string>es-ph</string>
	<string>es-pr</string>
	<string>es-py</string>
	<string>es-sv</string>
	<string>es-us</string>
	<string>es-uy</string>
	<string>es-ve</string>
	<string>et-ee</string>
	<string>eu-es</string>
	<string>fa-ir</string>
	<string>fi-fi</string>
	<string>fil-ph</string>
	<string>fr-029</string>
	<string>fr-be</string>
	<string>fr-bf</string>
	<string>fr-bi</string>
	<string>fr-bj</string>
	<string>fr-bl</string>
	<string>fr-ca</string>
	<string>fr-cf</string>
	<string>fr-cg</string>
	<string>fr-ch</string>
	<string>fr-dj</string>
	<string>fr-dz</string>
	<string>fr-fr</string>
	<string>fr-ga</string>
	<string>fr-gf</string>
	<string>fr-gn</string>
	<string>fr-gp</string>
	<string>fr-gq</string>
	<string>fr-km</string>
	<string>fr-lu</string>
	<string>fr-mc</string>
	<string>fr-mf</string>
	<string>fr-mg</string>
	<string>fr-mq</string>
	<string>fr-mr</string>
	<string>fr-mu</string>
	<string>fr-nc</string>
	<string>fr-ne</string>
	<string>fr-pf</string>
	<string>fr-pm</string>
	<string>fr-rw</string>
	<string>fr-sc</string>
	<string>fr-sy</string>
	<string>fr-td</string>
	<string>fr-tg</string>
	<string>fr-tn</string>
	<string>fr-vu</string>
	<string>fr-wf</string>
	<string>fr-yt</string>
	<string>ga-ie</string>
	<string>gd-gb</string>
	<string>gl-es</string>
	<string>gu-in</string>
	<string>ha-latn-gh</string>
	<string>ha-latn-ne</string>
	<string>ha-latn-ng</string>
	<string>he-il</string>
	<string>hi-in</string>
	<string>hr-ba</string>
	<string>hr-hr</string>
	<string>hu-hu</string>
	<string>hy-am</string>
	<string>id-id</string>
	<string>is-is</string>
	<string>it-ch</string>
	<string>it-it</string>
	<string>it-sm</string>
	<string>it-va</string>
	<string>ja-jp</string>
	<string>ka-ge</string>
	<string>kk-kz</string>
	<string>km-kh</string>
	<string>kn-in</string>
	<string>ko-kp</string>
	<string>ko-kr</string>
	<string>kok-in</string>
	<string>ky-kg</string>
	<string>lb-lu</string>
	<string>lo-la</string>
	<string>lt-lt</string>
	<string>lv-lv</string>
	<string>mi-nz</string>
	<string>mk-mk</string>
	<string>ml-in</string>
	<string>mn-mn</string>
	<string>mr-in</string>
	<string>ms-bn</string>
	<string>ms-my</string>
	<string>ms-sg</string>
	<string>mt-mt</string>
	<string>nb-no</string>
	<string>ne-in</string>
	<string>ne-np</string>
	<string>nl-aw</string>
	<string>nl-be</string>
	<string>nl-bq</string>
	<string>nl-cw</string>
	<string>nl-nl</string>
	<string>nl-sr</string>
	<string>nl-sx</string>
	<string>nn-no</string>
	<string>or-in</string>
	<string>pa-in</string>
	<string>pl-pl</string>
	<string>prs-af</string>
	<string>pt-ao</string>
	<string>pt-br</string>
	<string>pt-ch</string>
	<string>pt-cv</string>
	<string>pt-gq</string>
	<string>pt-gw</string>
	<string>pt-lu</string>
	<string>pt-mo</string>
	<string>pt-mz</string>
	<string>pt-pt</string>
	<string>pt-st</string>
	<string>pt-tl</string>
	<string>quz-bo</string>
	<string>quz-ec</string>
	<string>quz-pe</string>
	<string>ro-md</string>
	<string>ro-ro</string>
	<string>ru-by</string>
	<string>ru-kg</string>
	<string>ru-kz</string>
	<string>ru-md</string>
	<string>ru-ru</string>
	<string>ru-ua</string>
	<string>sd-arab-pk</string>
	<string>si-lk</string>
	<string>sk-sk</string>
	<string>sl-si</string>
	<string>sq-al</string>
	<string>sq-mk</string>
	<string>sq-xk</string>
	<string>sr-cyrl-ba</string>
	<string>sr-cyrl-xk</string>
	<string>sr-latn-cs</string>
	<string>sv-ax</string>
	<string>sv-fi</string>
	<string>sv-se</string>
	<string>sw-cd</string>
	<string>sw-ke</string>
	<string>sw-tz</string>
	<string>sw-ug</string>
	<string>ta-in</string>
	<string>ta-my</string>
	<string>ta-sg</string>
	<string>te-in</string>
	<string>th-th</string>
	<string>tk-tm</string>
	<string>tr-cy</string>
	<string>tr-tr</string>
	<string>tt-ru</string>
	<string>ug-cn</string>
	<string>uk-ua</string>
	<string>ur-in</string>
	<string>ur-pk</string>
	<string>uz-latn-uz</string>
	<string>vi-vn</string>
	<string>zh-cn</string>
	<string>zh-hans-hk</string>
	<string>zh-hans-mo</string>
	<string>zh-hk</string>
	<string>zh-mo</string>
	<string>zh-sg</string>
	<string>zh-tw</string>
</array>
</plist>
